@model IEnumerable<PokeriaCapstone.Models.T_Ingredienti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeIngrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoIngrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoAggiuntivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoIngrediente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeIngrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoIngrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoAggiuntivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoIngrediente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDIngrediente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDIngrediente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDIngrediente })
        </td>
    </tr>
}

</table>
