<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Assets/MyCss/Composizione.css" />
    <link rel="stylesheet" href="~/Content/Assets/MyCss/GeneralStyle.css" />
</head>
<body class="body">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" id="navbar">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div>
                    <a>
                        <img src="~/Content/Assets/LogosAndOtherPics/Logo Banner Pokeria logo.png" height="50" />
                    </a>
                </div>
                <div>
                    <a>
                        <img src="~/Content/Assets/LogosAndOtherPics/Logo Banner Pokeria name2.png" height="50"  />
                    </a>
                </div>
            </div>
            
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="background">
        <div class="container body-content mt-0">

            @RenderBody()
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6 class="text-dark">About</h6>
                    <p class="text-justify text-dark">ITACHI <i>YOUR FAVORITE POKE BOWL </i> é il progetto finale del mio corso da developer full-stack in EPICODE. Essendo il lavoro finale di questo percorso, ho fatto cercato di utilizzare tutte le conoscenze apprese.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 class="text-dark">Tecnologie utilizzate:</h6>
                    <ul class="footer-links">
                        <li class="text-dark">HTML</li>
                        <li class="text-dark">CSS</li>
                        <li class="text-dark">JavaScript</li>
                        <li class="text-dark">Bootstrap</li>
                        <li class="text-dark">C#, MVC & Entity FrameWork</li>
                        <li class="text-dark">SQL SERVER</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text text-black">
                        All Rights Reserved by
                        <a href="https://www.linkedin.com/in/simone-potenza-front-end-developer/">Simone Potenza</a>.
                    </p>
                </div>

              
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
